pkgbase = ros-noetic-rosserial-client
	pkgdesc = ROS - Generalized client side source for rosserial.
	pkgver = 0.9.2
	pkgrel = 3
	url = https://wiki.ros.org/rosserial_client
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-catkin
	makedepends = ros-noetic-rosbash
	depends = ros-noetic-rosserial-msgs
	depends = ros-noetic-std-msgs
	depends = ros-noetic-rospy
	depends = ros-noetic-tf
	depends = ros-noetic-rosunit
	source = ros-noetic-rosserial-client-0.9.2.tar.gz::https://github.com/ros-drivers/rosserial/archive/0.9.2.tar.gz
	source = ros-noetic-rosserial-client-0.9.2-c5e90cd.patch::https://github.com/ros-drivers/rosserial/commit/c5e90cdd34aafca9783addbd8e83364b0fef4579.patch
	sha256sums = 10544be94241499aa3b019aea6d7cb40546ea484749e909cee31a928c7d40465
	sha256sums = 5e06236fe3cc787b27b0cae7250ca6d37764b72e3a08f88130d2f98ddf92626a

pkgname = ros-noetic-rosserial-client

